@charset "UTF-8";

/* Fixer le footer en bas, utilisé la solution : https://www.intuwebdesign.com/blogs/css/css-fix-footer-to-bottom-of-page/ 
   TODO : Essayer de comprendre cette solution...
*/

html, body{
	height:100%;
	margin:0;
}

body{
	padding-top:100px;								 /* Car le navbar en fixed-top écrase le contenu */
	background-image:url("../medias/images/forestry.jpg");
	display: flex;
  	flex-direction: column;
  	/* FIXME : A quoi servent les "flex" ? */
}

footer {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top:auto;
}
