@charset "UTF-8";

/* TODO : Fixation du footer -> cf Trello */

html, body{
	height:100%;
	margin:0;
}

body{
	padding-top:100px;								 /* Car le navbar en fixed-top écrase le contenu */
	background-image:url("../medias/images/forestry.jpg");
	display: flex;
  	flex-direction: column;
  	/* FIXME :  flex -> cf Trello */
}

footer {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-top:auto;
}
